<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>goVacation.com</title>

    
  </head>
  <body>
  
   <div class="header">
		<nav class="navbar navbar-expand-md navigation-clean-search">
		  <div class="container col-8">
			<a class="navbar-brand" href="#"
			  ><a href="/"><img src="./image/newlogo.png" alt=""
			/></a>
			<button
			  class="navbar-toggler"
			  data-toggle="collapse"
			  data-target="#navcol-1"
			>
			  <span class="sr-only">Toggle navigation</span
			  ><span class="navbar-toggler-icon"></span>
			</button>
  
			<div class="collapse navbar-collapse" id="navcol-1">
			  <ul class="nav navbar-nav">
				<li class="nav-item" role="presentation">
				  <a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item" role="presentation">
				  <a class="nav-link" href="/about-us">About</a>
				</li>
				<li class="nav-item" role="presentation">
				  <a class="nav-link" href="/contact-us">Contact Us</a>
				</li>
				<li class="nav-item" role="presentation">
				  <a class="nav-link" href="/feedback">Feedback</a>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="container col-2">
			<span>
			  <a
				class="btn btn-dark action-button pull-right"
				role="button"
				href="/login"
				>Log In / Sign Up</a
			  >
			</span>
			<!-- <span><a class="btn btn-info action-button pull-right" role="button" href="#">BOOK NOW</a></span> -->
		  </div>
		</nav>
	  </div>
	  <br />
	  
    <div>
      <h3 style="text-align:center ; color :gray" > <b>List of Hotels in Dehradun</b></h3>
    </div>

    <div class="row" >
      <% hotels.forEach(function (hotelObj){ %>

      <a href="/product/<%= hotelObj.id %>">
        <div class="card m-2" style="width: 18rem">
          <img class="card-img-top" src="<%= hotelObj.img %>" />
          <div>
            <div class="card-img-overlay">
              <div
                class="offset-4 col-3 justify-content-center d-flex align-items-center text-center text-light"
                style="margin-top: 60px margin"
              ></div>
            </div>
            <%= hotelObj.name %>
          </div>
        </div>
      </a>

      <% }); %>
    </div>
    

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>

  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for more info</strong>
              </p>
            </div>

            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example29" class="form-control" />
                <label class="form-label" for="form5Example29"
                  >Email address</label
                >
              </div>
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="/">goVacation.com</a>
    </div>
  </footer>
</html>
